@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
* {
  box-sizing: border-box;
}

/*body {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  
}*/

.blog-slider {
  width: 1250px;
  position: relative;
  margin: 4% auto;
  background-image: radial-gradient(#cfcfcf93, #6e6e6e98);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.082);
  padding: 25px;
  border-radius: 25px;
  height: 600px;
  transition: all .3s;
  display: flex;
}
@media screen and (min-width: 1000px) {
  .blog-slider__title{
    margin-left: 25%;
  }
}
@media screen and (max-width: 700px) {
  .blog-slider__title{
    margin-left: 15%;
  }
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    height: 400px;
    width: 90%;
    margin: 180px auto;
  }
}

.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: .3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 650px;
  flex-shrink: 0;
  height: 450px;
  margin-left: 100px;
/*  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
*/  box-shadow: 4px 13px 30px 1px rgba(255, 255, 255, 0);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
*/  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    height: 70vw;
    width: 100vw;
    margin:0 0;
  }
}

@media screen and (min-width: 768px) {
  .blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
    margin-right: 7vw;
  }
  .blog-slider__text {
    color: #051321;
    width: 30vw;
    margin-bottom: 30px;
    line-height: 1.5em;
    font-size: 1.5em;
    padding-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -30vw;
    text-align: center;
    padding: 0 30px;
  }
  .blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
    margin-right: 10%;
  }
  .blog-slider__text {
    color: #051321;
    width: 75vw;
    margin-bottom: 30px;
    line-height: 1.5em;
    font-size: 1.5em;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all .4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #117B64 0%, #0B3F40 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  margin-left: 0px;
  text-align: center;
  letter-spacing: 1px;
  border: 0;
}
@media screen and (max-width: 776px) {
  .blog-slider__button {
    width: 60%;
    margin-left: 0% ;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: relative;
  z-index: 1;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 37%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: -50% !important;
    top: 270px;
    height: 60px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .blog-slider__pagination, .swiper-pagination-clickable, .swiper-pagination-bullets {
    display: none;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all .3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #0C534B;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(175, 175, 175, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}
